{% extends 'base.html.twig' %}

{% block title %}Body{% endblock %}

{% block body %}
	<div>
		{% block aside_left %}{% endblock %}
	</div>
	<div>
		{% block content %} nothing to display {% endblock %}
	</div>
{% endblock %}